<h1> SHOW minibook data <h1>

  <button type="button" class="btn btn-outline-light"><%= link_to "Back", mini_books_path %></button>
  <button type="button" class="btn btn-outline-light"><%= link_to "Create New Mini Book", new_mini_book_path %></button>
  <%#= link_to "Create Entry", new_minibook_entry_path %>
