$color_darkblue: #222C3C;
$color_mustard: #D8B26E;
$color_brown: #B69B7D;
$color_cream: #E2E0D5;
$color_offwhite: #EDF2F4;
$mainFont: 'Roboto Condensed', sans-serif;
$subFont: 'Roboto', sans-serif;;

$mobileS: 320px;
$mobileM: 375px;
$mobileL: 430px;
$tablet: 770px;
$laptop: 1024px;

.counts {
  display: flex;
}

.status-counts {
  text-align: center;
  width: 40vw;
}

#h2-admin {
  font: 200% $mainFont;
  margin-left: 5%;
}

#h4-admin {
  font: $subFont;
}

@media only screen and (max-width: $mobileS), (max-width: $mobileM), (max-width: $mobileL), (max-width: $tablet) {
  .counts {
    display: flex;
    flex-direction: column;
  }
  .status-counts, .main-mini-books {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }
  #chart-1 {
    display: flex !important;
    align-content: center !important;
    width: 150px !important;
  }
}
