@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$color_darkblue: #222c3c;
$color_mustard: #d8b26e;
$color_brown: #b69b7d;
$color_cream: #e2e0d5;
$color_offwhite: #edf2f4;
$mainFont: "Roboto Condensed", sans-serif;
$subFont: "Roboto", sans-serif;

$mobileS: 320px;
$mobileM: 375px;
$mobileL: 430px;
$tablet: 770px;
$laptop: 1024px;

#book__entry__form {
  margin-left: 5vw;
  margin-right: 5vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  #mainbook__entry {
    font: 250% $mainFont;
    margin: 0 auto;
  }
}

#book_field_input {
  color: $color_darkblue;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  font: 110% $subFont !important;
  color: $color_mustard;
  input {
    margin: 0 auto;
    width: 30vw;
    height: 5vh;
    border-radius: 5px;
    border: 1px solid $color_darkblue;
  }
}

#book_field_label {
  margin: 0 auto;
  width: 30vw;
  color: $color_darkblue;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  font: 150% $mainFont !important;
  color: $color_darkblue;
}

#entry_submit_button_cont {
  margin-top: 5%;
  margin-left: 32%;
  margin-right: 5%;
  width: 70vw;
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;

  #entry_submit_button {
    font: 120% $mainFont;
    color: $color_brown !important;
    background-color: $color_darkblue;
  }
}

//=============MEDIA QUERY=================//

@media only screen and (max-width: $tablet), (max-width: $laptop) {
  #book__entry__form {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    #mainbook__entry {
      font: 200% $mainFont;
      margin: 0 auto;
      margin-top: -5%;
      margin-bottom: 2%;
    }
  }

  #book_field_input {
    margin-top: 3%;
    flex-direction: column;
    font: 100% $subFont !important;
    color: $color_mustard;
    input {
      margin: 0 auto;
      width: 80vw;
    }
  }

  #book_field_label {
    margin: 0 auto;
    width: 80vw;
    color: $color_darkblue;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    font: 120% $mainFont !important;
    color: $color_darkblue;
  }

  #entry_submit_button_cont {
    width: 70vw;
    display: flex !important;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    justify-content: space-evenly;

    #entry_submit_button {
      margin-top: 10%;
      margin-left: 20%;
      font: 120% $mainFont;
      color: $color_brown !important;
      background-color: $color_darkblue;
    }
  }
}
